.App {
  text-align: center;
  background-image: url('../src/assets/images/HC-Logo-Cube-bw-copy.jpg');
  height: 100%;
  background-repeat: repeat;
}

.App-logo {
  animation: App-logo-spin infinite 15s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.nav{
  background-color: black;
}
.Root{
  width: 60%;
  margin: 0 auto;
  height: 100%;
  background-color: white;
  border: 2%;
  border-color: grey;
}
#banner{
  width: 60%;
}
#homeTabHolder{
  width: 100%;
}
#homeTab1{
  width: 100px;
  position: relative;
  left:-300px;
}
#homeTab2{
  width: 30%;
  position: relative;
  padding: 5px;
}
#homeTab3{
  width: 30%;
  position: relative;
  right: -10px;
}
#galleryP{
  text-align: left;
  width: 75%;
  padding-left: 10px;
}
#metThumb1{
  left: 0px;
  height: 150px;
  width: 150px;
}
#metThumb2{
  padding: 5px;
  height: 150px;
  width: 150px;
}
#metThumb3{
  right: 0px;
  height: 150px;
  width: 150px;
}
#fbIcon{
  right: 0px;
  height: 24px;
  width: 24px;
}
#ytIcon{
  right: 0px;
  height: 24px;
  width: 24px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
