.App {
  text-align: center;
  background-image: url('../src/assets/images/HC-Logo-Cube-bw-copy.jpg');
  height: 1500px;
  background-repeat: repeat;
}

.App-logo {
  animation: App-logo-spin infinite 15s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.Root{
  width: 60%;
  margin: 0 auto;
  height: 100%;
  background-color: black;
  
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
